@{
    ViewBag.Title = "Home Page";
}

<div data-ng-controller="btController" class="container">
    <div class="row">

        <div class="page-header">
            <h1>angularjs binary search tree!</h1>
        </div>

        <button class="btn btn-primary" >branch number</button>
        <input type="text" id="treeID" data-ng-model="newTree.Id"   size="5"/>
        <p>must be a unique value</p>
        <!--PANEL FOR INSERT AND FIND VALUE-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">insert into tree and search</h3>
            </div>

            <div class="panel-body">
                <br />

                <div class="col-lg-4">
                    <div>
                        <button class="btn btn-primary" data-ng-click="insert(newTree.TreeData)" ng-model="newTree.TreeData">Insert Value</button>
                        <input type="text" id="insertTree" data-ng-model="newTree.TreeData" size="5" />
                    </div>
                    <br />
                    <div>
                        <label for="pValue">Value Inserted: </label>
                        <p id="pValue"> {{inserted}}</p>
                    </div>


                </div>

                <div class="col-lg-4">
                    <div>
                        <button class="btn btn-primary" data-ng-click="findValue(findNode)" ng-model="got">Find Value</button>
                        <input type="text" id="findNode" ng-model="findNode" size="5" />
                    </div>
                    <br />
                    <div>
                        <label>Is it there?: </label>
                        <p id="findValue">{{found}}</p>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div>
                        <button class="btn btn-primary" data-ng-click="ancestors(aNode)">Find Ancestors</button>
                        <input type="text" id="aNode" ng-model="aNode" size="5" />
                    </div>
                    <br />
                    <div>
                        <label>Ancestors: </label>
                        <!--place div for inorder angular update-->
                    </div>

                </div>

            </div>
        </div>
        <!--END PANEL FOR INSERT AND FIND-->

        <!--PANEL FOR TRAVERSE AND TRAVERSE DISPLAY-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">traverse the tree</h3>
            </div>

            <div class="panel-body">
                <label>In Order Traversal</label>
                <p id="inOrder">{{printValues()}}</p>
                
                <label>Reverse In Order Traversal</label>
                <p id="RinOrder">{{RprintValues()}}</p>
                <div class="text-center">
                    <button class="btn btn-primary" data-ng-click="add()">Save Tree</button>
                </div>

            </div>
        </div>
        <!--END PANEL FOR TRAVERSE AND TRAVERSE DISPLAY-->


        <!--PANEL FOR SAVED TREES-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">saved trees</h3>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" style="width:800px">
                        <tr>
                            <th>#</th>
                            <td>Tree</td>
                            <th>Searched Ancestors</th>
                            
                        </tr>
                        <tr data-ng-repeat="tree in trees">
                            <td><strong data-ng-hide="customer.editMode">{{ tree.Id }}</strong></td>
                            <td>
                                <p data-ng-hide="customer.editMode">{{ tree.TreeData }}</p>
                                <input data-ng-show="customer.editMode" type="text" data-ng-model="Tree.TreeData"/>
                            </td>
                            <td>
                                <p data-ng-hide="customer.editMode">{{ tree.SearchedAncestors }}</p>
                                <input data-ng-show="customer.editMode" type="text" data-ng-model="Tree.SearchedAncestors" />
                            </td>
                          
                        </tr>
                    </table>
                    <hr />
                </div>
            </div>
        </div>
        <!--END PANEL FOR SAVED TREES-->

    </div>
</div>