@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">

        <div class="page-header">
            <h1>angularjs binary search tree!</h1>
        </div>


        <!--PANEL FOR INSERT AND FIND VALUE-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">insert into tree and search</h3>
            </div>

            <div class="panel-body">
                <br />

                <div class="col-lg-4">
                    <div>
                        <button class="btn btn-primary">Insert Value</button>
                        <input type="text" id="insertTree" size="5" />
                    </div>
                    <br />
                    <div>
                        <label>Value Inserted: </label>
                        <!--div for completed insert value into tree-->
                    </div>


                </div>

                <div class="col-lg-4">
                    <div>
                        <button class="btn btn-primary">Find Value</button>
                        <input type="text" id="findNode" size="5" />
                    </div>
                    <br />
                    <div>
                        <label>Is it there?: </label>
                        <!--div for simple yes or no to found value-->
                    </div>

                </div>

                <div class="col-lg-4">
                    <div>
                        <button class="btn btn-primary">Find Ancestors</button>
                        <input type="text" id="ancestorsTree" size="5" />
                    </div>
                    <br />
                    <div>
                        <label>Ancestors: </label>
                        <!--place div for inorder angular update-->
                    </div>

                </div>

            </div>
        </div>
        <!--END PANEL FOR INSERT AND FIND-->

        <!--PANEL FOR TRAVERSE AND TRAVERSE DISPLAY-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">traverse the tree</h3>
            </div>

            <div class="panel-body">

                <div class="text-center">
                    <button class="btn btn-primary">Traverse Tree</button>
                </div>

            </div>
        </div>
        <!--END PANEL FOR TRAVERSE AND TRAVERSE DISPLAY-->


        <!--PANEL FOR SAVED TREES-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">saved trees</h3>
            </div>

            <div class="panel-body">

            </div>
        </div>
        <!--END PANEL FOR SAVED TREES-->

    </div>
</div>